{{menuBar}}
<h3>log in</h3>
<form action="/log/in" method="post">
  user: <input type="text" name="name"><br>
  pass: <input type="password" name="password"><br><br>
  <input type="submit" value="Submit">
  <p>{{message}}</p>
</form>
