<h1>log up</h1>
<form action="/log/up" method="post">
  user: <input type="text" name="name"><br>
  pass: <input type="password" name="password"><br>
  <input type="submit" value="Submit">
  <p>{{message}}</p>
</form>
